.burger_menu {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 2.25em;
    height: 1.3em;
    border-top: .4em solid white;
    border-bottom: .4em solid white;
    border-radius: .4em;
    }
    .burger_menu:before {
        content: "";
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        height: .3em;
        background: white;
    }
    
   