body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    background-color: black;
    z-index: 0;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
font-family: 'Architects Daughter', cursive;
}

header{
    color: burlywood;
    grid-area: header;
    margin-top: 3%;
    text-align: center;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    
    margin-top: 5%;
    justify-items: center;
}
footer {
    color: white;
    grid-area: footer;
}

section{
    margin-top: 3%;
    color: #f4d47c;
    background-color: #44444486;
    height: 60%;
    width: 80%;
    padding: 2%;
}
section h2 {
    text-align: center;
}
section img {
    width: 40px;
    height: 40px;
    margin: 1%;
}
textarea{
    align-items: center;
    grid-gap: 0.5em;
    width: 50%;
    height: 30%;
    grid-area: text;
    display: grid;
    grid-template-rows: 30% 15% 30% 10% 10%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "label ."
                         "text text"
                         " submit";
}

label {
    grid-area: label;
}
.submit{
    grid-area: submit;
}
nav {
    grid-area: nav;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.2);
    left: 0;
    top: 0;
    width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
nav ul:hover li {

    opacity: 0.6;
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
   
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {

    color: #ff0;
}

    