body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    background-color: black;
    display: grid;
    
    grid-template-rows: 5% 93% 2%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         ". . footer";
    
}
main {
    margin: 5%;
    display: grid;
    grid-area: main;
    grid-template-rows: 50% 50%;
    
    grid-template-areas: "bio"
                         "desc";

}
header {
    margin-top: 15%;
    display: grid;
    grid-area: header;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer {
    color: white;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    display: grid;
}

h2 {
   color: #fff; 
   text-align: center;
}
section {
    background-color: #44444486;
   
    align-items: center;
    padding: 5%;
    margin: 1%;
    color:#f4d47c;
}

.about_me {
    position: relative;
    top: 20%;
    height: 60%;
    display: grid;
   grid-template-areas: "pic bio";
}
.profile {
    grid-area: pic;
    
}
.bio {
    padding: 5%;
    grid-area: bio;
}

.cv_description {
    
    height: 150%;
    grid-area: desc;
    margin-bottom: 10%;
}
nav {
    grid-area: nav;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav ul:hover li {
    opacity: 0.6;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.2);
    transform: translateY(-200%);
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
}
nav ul:hover li {
    opacity: 0.6;
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {
    color: #ff0;
}
nav .toggler {
    position: fixed;
    top: 1%;
    right: 3%;
    height: 6%;
    width: 4%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
nav .toggler:checked {
    transform: translateY(100%);
   
    background-color: rgba(128, 128, 128, 0.2);
}
nav .toggler:checked ~ ul{
    transform: translateY(-22%);
    transition: transform 0.5s ease-in;
}

nav .toggler:checked + .arrow_menu {
    transform: rotate(180deg);
}


.arrow_menu {
    position: fixed;
    top: 8%;
    right: 3%;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
    transform: translateY(-120%); 
    transition: transform 0.5s ease-in;
}

