body {
    background-color: #0a1a36;
    z-index: 0;
    
}
header h1 {
    color: rgb(206, 200, 200);
    text-align: center;
}
h2 {
   color: #fff; 
   text-align: center;
}
section {
    background-color: #444444;
    float: left;
    align-items: center;
    padding: 3%;
    margin: 5%;
    
}
.bio {
    color:#f4d47c;
    width: 17vw;
    height: 35vh;
    
}
.cv_description {
    color:#f4d47c;
    width: 45vw;
    height: 100vh;
    
}

.navbar {
    left: 0;
    position: fixed;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-93vh);
    z-index: 1;
}
.navbar ul:hover li {
    opacity: 0.6;
}
.navbar ul li {
    display: inline;
    float: left;
    list-style: none;
}
.navbar ul li a {
    opacity: 1;
    color: #fff;     
    text-decoration: none;
    font-size: 3vh;
    padding-right: 7.2vh;
}
.navbar ul li:hover {
    opacity: 1;
}
.navbar ul a:hover {
        
    color: #ff0;
}
.navbar .toggler {
    display: none;
}