body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    z-index: 0;
    display: grid;
    
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
    
}
main {
    margin-top: 5%;
    grid-area: main;
}
header {
    margin-top: 5%;
    grid-area: header;
}
footer {
    grid-area: footer;
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}
header h1 {
    color: #fff;
    text-align: center;

}

h2 {
   color: #fff; 
   text-align: center;
}
section {
    background-color: #44444486;
    float: left;
    align-items: center;
    padding: 3%;
    margin: 5%;
}
.bio {
    color:#f4d47c;
    width: 17vw;
    height: 35vh;
}
.cv_description {
    color:#f4d47c;
    width: 45vw;
    height: 100vh;
}
nav {
    grid-area: nav;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.2);
    left: 0;
    top: 0;
    width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

nav ul:hover li {

    opacity: 0.6;
}

nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
   
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {

    color: #ff0;
}
nav .toggler {
    display: none;
}