body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    display: grid;
    grid-template-rows: 5% 93% 2%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         ". . footer";
    
}
header {
    margin-top: 3%;
   
    grid-area: header;
    color: #fff;
    text-align: center
}
main {
    margin: 3%;
    display: grid;
    grid-area: main;
    grid-template-columns: 30% 70%;
    
}
footer {
    grid-area: footer;
    color: white;
    
}

h2 {
   color: #fff; 
   text-align: center;
}
h3 {
    color: rgba(247, 206, 71, 0.842);
}
section {
    background-color: #44444486;
    align-items: center;
    padding: 5%;
    color:#f4d47c;
}
.bio{
    
    border-bottom: 5px solid white ;
}
.about_me {
    
    width: 100%;
    height: 100%;
}
.about_me > h2{

    border-top: 5px solid white ;
}
.cv_description {
    margin-left: 10%;
    width: 45vw;
    height: 97%;
}
nav {
    grid-area: nav;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.2);
    left: 0;
    top: 0;
    width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

nav ul:hover li {

    opacity: 0.6;
}

nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
   
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {

    color: #ff0;
}
nav .toggler {
    display: none;
}