* {
    margin: 0;
    padding: 0;  
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.welcome_container {
    
    color: rgba(255, 255, 0, 0.555);
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome_container h1 {
    width: 70vw;
    font-size: 4em;
    z-index: 1;
}
.welcome_container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

nav ul:hover li {

    opacity: 0.6;
}
nav {
    grid-area: nav;
    position: fixed;
   
    left: 0;
    top: 0;
    width: 100%;
    
}

nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
    transform: translateY(-100%);
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5%;
    
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vw;
   
}
nav ul:hover li {
    
    opacity: 0.6;
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {
    
    color: #ff0;
}
nav .toggler {
    position: fixed;
    top: 3%;
    right: 2%;
    height: 6%;
    width: 3.5%;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
nav .toggler:checked {
    transform: translateY(120%);
}

nav .toggler:checked + .arrow_menu {
    
    transform: rotate(180deg);
}
nav .toggler:checked ~ ul  li {
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    
}

.arrow_menu {
    position: fixed;
    top: 10%;
    right: 2vw;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
    transform: translateY(-120%); 
    transition: transform 0.5s ease-in;
}


footer {
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}

.portfolio_container {
    display: none;
}
.contact_container {
    display: none;
}
.cv_container {
    display: none;
}
.report_container {
    display: none;
}

