h1 {
    font-family: 'Permanent Marker', cursive;
}

.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.welcome_container {
    
    color: rgba(255, 255, 0, 0.555);
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }

.welcome_container h1 {
    width: 70vw;
    font-size: 4em;
    z-index: 1;
}
.welcome_container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.navbar {
    
    position: fixed;
    transform-origin: left ;
    
}
.navbar ul li {
    padding: 1.75em;
    list-style: none;
    transform-origin: bottom left;
    transform:rotate(-40deg) ;
}
.navbar ul li a {
    opacity: 1;
    color: #fff;
    
    text-decoration: none;
    font-size: 1.5em;
    padding-right: 0.8em;
}
.navbar ul:hover li {
    
    opacity: 0.6;
}
.navbar ul li:hover {
    opacity: 1;
}
.navbar ul a:hover {
    
    color: #ff0;
}

.burger_menu {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 2.25em;
    height: 1.3em;
    border-top: .4em solid white;
    border-bottom: .4em solid white;
    border-radius: .4em;
}
.burger_menu:before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: .3em;
    background: white;
}


.portfolio_container {
    display: none;
}
.contact_container {
    display: none;
}
.cv_container {
    display: none;
}
.report_container {
    display: none;
}