* {
    margin: 0;
    padding: 0;  
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.welcome_container {
    
    color: rgba(255, 255, 0, 0.555);
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome_container h1 {
    width: 70vw;
    font-size: 4em;
    z-index: 1;
}
.welcome_container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.navbar {
    margin-left: 5px;
    position: fixed;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-93vh);
    
    }
    
    .navbar ul:hover li {
        
        opacity: 0.6;
    }
    .navbar ul li {
        display: inline;
        float: left;
        list-style: none;
        transform: translateY(-100%); 
    transition: transform 0.5s ease-in;
    }
    .navbar ul li a {
        opacity: 1;
        color: #fff;
        
        text-decoration: none;
        font-size: 3vh;
        padding-right: 7.2vh;
    }
.navbar ul:hover li {
    
    opacity: 0.6;
}
.navbar ul li:hover {
    opacity: 1;
}
.navbar ul a:hover {
    
    color: #ff0;
}
/* .navbar .click {
    position: relative;
    top: 1.2vh;
    width: 3.25em;
    height: 2.7em;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
} */
.arrow_menu {
    position: absolute;
    top: 5vh;
    right: 2vw;
    
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 2vw solid  #ff0;
    transform: translate(0, -100%); 
    transition: transform 0.5s ease-in;
}

#clicked  .on > ul {
   
    
    
}
#clicked  .off {display: none;}

#clicked:target  .on > ul { transform: translateY(-100%); }
#clicked:target  .off {display: block;}






.portfolio_container {
    display: none;
}
.contact_container {
    display: none;
}
.cv_container {
    display: none;
}
.report_container {
    display: none;
}