* {
    margin: 0;
    padding: 0;  
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.welcome_container {
    
    color: rgba(255, 255, 0, 0.555);
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome_container h1 {
    width: 70vw;
    font-size: 4em;
    z-index: 1;
}
.welcome_container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

nav ul:hover li {

    opacity: 0.6;
}
nav {
    grid-area: nav;
    position: fixed;
   
    left: 0;
    top: 0;
    width: 100%;
    
}

nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
    transform: translateY(-100%);
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5%;
    
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
   
}
nav ul:hover li {
    
    opacity: 0.6;
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {
    
    color: #ff0;
}

#clicked .show_nav {
    display: block;
    
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
    
    transition: transform 0.5s ease-in;
}
#clicked .hide_nav{
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
    transform: rotateX(180deg) translateY(-350%); 
    
}
#clicked:target .show_nav  {
    display: none;
    transition: transform 1s ease-in;
}
#clicked:target .hide_nav  {
    display: block;
    transition: transform 1s ease-in;
}
#clicked:target  > ul {
   transform: translateY(00%);
   transition: transform 0.5s ease-in;
}



footer {
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}

.portfolio_container {
    display: none;
}
.contact_container {
    display: none;
}
.cv_container {
    display: none;
}
.report_container {
    display: none;
}

