* {
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.welcome_container {
    
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.welcome_container h1 {
    color:rgb(180, 17, 52);
    width: 70vw;
    font-size: 5.6vw;
    z-index: 1;
}
.welcome_container p {
    color: rgb(230, 222, 222);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
}

.navbar {
margin-left: 5px;
position: fixed;
transform-origin: left top;
transform:rotate(-90deg) translateX(-93vh);

}


.navbar ul:hover li {
    
    opacity: 0.6;
}
.navbar ul li {
    display: inline;
    float: left;
    list-style: none;
}
.navbar ul li a {
    opacity: 1;
    color: #fff;
    
    text-decoration: none;
    font-size: 3vh;
    padding-right: 7.2vh;
}
.navbar ul li:hover {
    opacity: 1;
}
.navbar ul a:hover {
    
    color: #ff0;
}

main div a {
    font-size: 1.45vw;
}
main div a:hover {
    font-size: 1.5vw;
    color: rgba(255, 255, 0, 0.555);
}


.portfolio_container {
    position: fixed;
    top: 21vh;
    left: 43vw;
    color: #fff;

}
.portfolio_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    
}


.portfolio_container a:hover::before {
    content: "";
    display: block;
    width: 39vw;
    height: 8px;
    background:  rgba(255, 255, 0, 0.555);
    position: absolute;
    right: 15vw;
    top: 60%;
    
}

.contact_container {
    position: fixed;
    top: 38vh;
    left: 84vw;
    color: #fff;
    
}
.contact_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    
}

.contact_container a:hover::before {
    content: "";
    display: block;
    width: 81vw;
    height: 8px;
    background:  rgba(255, 255, 0, 0.555);
    position: absolute;
    right: 13vw;
    top: 60%;
    
}

.cv_container {
    position: fixed;
    top: 60vh;
    left: 10vw;
    color: #fff;

}
.cv_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.cv_container a:hover::before {
    content: "";
    display: block;
    width: 6.5vw;
    height: 8px;
    background:  rgba(255, 255, 0, 0.555);
    position: absolute;
    right: 25vw;
    top: 60%;   
}

.report_container {
    position: fixed;
    top: 82.5vh;
    left: 50vw;
    color: #fff;

}
.report_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.report_container a:hover::before {
    content: "";
    display: block;
    width: 48vw;
    height: 8px;
    background:  rgba(255, 255, 0, 0.555);
    position: absolute;
    right: 13vw;
    top: 45%;
}