* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}
.background{
content: "";
background: url(Images/Abstract_Background.jpg) no-repeat center ;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.welcome_container {


    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.welcome_container h1 {
    color: rgba(255, 255, 0, 0.555);
    width: 70vw;
    font-size: 5.6vw;
    z-index: 1;
}
.welcome_container p {
    color: rgb(230, 222, 222);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
}

nav {
    display: none;
}

nav .toggler {
    display: none;
}

.portfolio_container {
    position: fixed;
    top: 18vh;
    left: 43vw;
    color: #fff;
}
.portfolio_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.portfolio_container a:hover {
    color:  rgba(255, 255, 0, 0.555);
}

.contact_container {
    position: fixed;
    top: 38vh;
    left: 84vw;
    color: #fff;
}
.contact_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;

}
.contact_container a:hover {
    color:  rgba(255, 255, 0, 0.555);
}

.cv_container {
    position: fixed;
    top: 63vh;
    left: 6vw;
    color: #fff;
}
.cv_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.cv_container a:hover {
    color:  rgba(255, 255, 0, 0.555);
}

.report_container {
    position: fixed;
    top: 82.5vh;
    left: 50vw;
    color: #fff;
}
.report_container a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.report_container a:hover {
    color:  rgba(255, 255, 0, 0.555);
}


footer {
    color: white;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}