body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    z-index: 0;
    display: grid;
    height: 90vh;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer . .";
    grid-gap: 5%;
    
}

header {
    margin-top: 3%;
    color: burlywood;
    grid-area: header;
    text-align: center
}

main {
    margin-top: 3%;
    grid-area: main;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    text-align: center;
    justify-items: center;
}
footer {
    color: white;
    grid-area: footer;
}

section {
    color: white;
    background-color:  #44444486;
    height: 90%;
    width: 90%;
    margin: 3%;
    
}


nav {
    grid-area: nav;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.2);
    left: 0;
    top: 0;
    width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

nav ul:hover li {

    opacity: 0.6;
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
   
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {

    color: #ff0;
}
