body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    background-color: black;
    z-index: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 93% 2%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer . .";
}
header {
    margin-top: 3%;
    color: burlywood;
    grid-area: header;
    text-align: center;
    
}
main{
    grid-area: main;
    margin: 5%;
    margin-top: 7%;
    
}
footer {
    color: white;
    grid-area: footer;
   
}
section {
    
    color: #f4d47c;
    background-color: #44444486;
    height: 100%;
    
    padding: 2%;
   
}

nav {
   
    position: fixed;
    background-color: rgba(128, 128, 128, 0.2);
    left: 0;
    top: 0;
    width: 100vw;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

nav ul:hover li {

    opacity: 0.6;
}

nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
   
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {

    color: #ff0;
}

    