body {
    background: url(images/Abstract_Background.jpg) no-repeat center ;
    z-index: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 93% 2%;
    grid-template-columns: auto;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer . .";
}
header {
    margin-top: 5%;
    color: burlywood;
    grid-area: header;
    text-align: center;
    
}
main{
    grid-area: main;
    margin-top: 20%;
    
}
footer {
    color: white;
    grid-area: footer;
   
}
section {
    
    color: #f4d47c;
    background-color: #44444486;
    height: 100%;
    padding: 2%;
   
}

nav {
    grid-area: nav;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
nav ul:hover li {
    opacity: 0.6;
}
nav ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 2%;
    background-color: rgba(128, 128, 128, 0.2);
    transform: translateY(-120%);
}
nav ul li {
    display: inline;
    float: left;
    list-style: none;
    text-align: center;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
}
nav ul:hover li {
    opacity: 0.6;
}
nav ul li:hover {
    opacity: 1;
}
nav ul a:hover {
    color: #ff0;
}
#clicked .show_nav {
    display: block;
    
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
   
    transition: transform 0.5s ease-in;
}
#clicked .hide_nav{
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 4vw solid  #ff0;
    transform: rotateX(180deg) translateY(-450%); 
    
}
#clicked:target .show_nav  {
    display: none;
    transition: transform 1s ease-in;
}
#clicked:target .hide_nav  {
    display: block;
    transition: transform 1s ease-in;
}
#clicked:target  > ul {
   transform: translateY(-20%);
   transition: transform 0.5s ease-in;
}

    