body {
    font-family: 'Chilanka', cursive;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 5% 80% 15%;
    grid-template-rows: 5% 5% 85% 5%;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "main main aside"
                         "footer footer footer";
}

.menu_wrap {
    background-color: #ECD078;
    grid-area: nav;
    text-align: center;
    
}

.menu_wrap .toggler {
    position: absolute;
    z-index: 2;
    
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu ul > li {
    position: relative;
}

.menu_wrap .menu > div > div > ul > li > ul {
    position: absolute;
    background-color: #542437;
    display: block;
    padding: 0;
    margin-left: 10%;
    width: 80%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

.menu_wrap .menu > div > div > ul > li:hover > ul {
    opacity: 1;
    pointer-events: auto;
}


.menu_wrap .menu > div > div > ul > li{
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
        
}

.menu_wrap .menu > div > div > ul a {
    list-style: none;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


.menu_wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;

}  

.menu ul {
    
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}


.center {
    background-color: #c02942;
    color: white;
    grid-area: main;
}

.header {
background-color:#53777a;
text-align: center;
grid-area: header;
}

.rightSide {
    background-color: #d95b43;
    color: white;
    grid-area: aside;
    
}

.footer {
    background-color:#542437 ;
    color: white;
    grid-area: footer;
}