

.part1 > p {
    
    color: white;
    background-color: black;
    display: inline;
}
.part1 > h2 {
    
    color: red;
}
.part2 > p{
    
    color: green;
    background-color: darkred;
    display: inline;
}
.part2 > h2{
    
    color: green;
}
.part3 {
    color: green;
}

.part4 > p{
color: green;
}
