nav {
    background-color: yellow;
    
}

nav ul > li {
    position: relative;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

nav ul ul {
    position: absolute;
    background-color: green;
    display: block;
    opacity: 0;
    padding: 0;
    margin-left: 10%;
    width: 80%;
    
    /* fade in  */
    transition: opacity 0.5s ease-in;
    /* so the mouse doesnt trigger the drop down under the menu titles */
    pointer-events: none;
    

    

}

nav ul li:hover > ul {
    opacity: 1;
    pointer-events: auto;


}
