nav {
    background-color: yellow;
    
}

nav ul > li {
    position: relative;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

nav ul ul {
    position: absolute;
    background-color: green;
    display: block;
    opacity: 0;
    padding: 0;
    margin-left: 10%;
    width: 80%;
    
    /* fade in  */
    transition: opacity 2s ease-in;
    /* so the mouse doesnt trigger the drop down under the menu titles */
    pointer-events: none;
    /* transform: translate(0, 100%); */

    /* swashes vertically then moves left so when hover it slides in from the left to right. */
    
    /* transform: skewX(90deg); */
}

nav ul li:hover > ul {
    opacity: 1;
    transform-origin: bottom right;
    transform: rotateY(90deg) translate(-50vw);
}


nav ul li:hover > ul:before,
nav ul li:hover > ul:after {
   
    pointer-events: auto;
    transform: rotateY(00deg);
    /* transform: skewX(0deg); */
}

/* cant get the fade in and out to work yet */