nav {
    background-color: yellow;
    padding-top: 1px;
}
header {
    background-color: blue;
    overflow: auto;
    z-index: -1;
}

nav ul > li {
    position: relative;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

nav ul ul {
    position: absolute;
    background-color: green;
    display: block;
    opacity: 0;
    padding: 0;
    margin-left: 10%;
    width: 80%;
    
    /* moves drop down options above original position */
    /* (0 horizontal, -100 vertical down */
    transform: translate(0, -100%); 
    transition: transform 0.5s ease-in;
    /* z-index layers things infront or behind things. 0 is default 1 infront 2 infront of 1. -1 behind 0 etc*/
    z-index: -1;

}

nav ul li:hover > ul {
    opacity: 1;
    pointer-events: auto;

    /* moves options back to original position */
    transform: translate(0,0);


}
